[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
dj-database-url = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
drf-nested-routers = "*"
gunicorn = "*"
pillow = "*"
psycopg2-binary = "*"
redis = "*"
flower = "*"
pytest-watch = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "*"
pytest = "*"
model-bakery = "*"

[requires]
python_version = "3.10"
